In [12]:
yeast_p = "yeast.data"
import pandas as pd
yeast_initial = pd.read_csv(yeast_p, sep="\s+", decimal='.', header=None , names=['Sequ_name', 'mcg', 'gvh', 'alm', 'mit', 'erl', 'pox', 'vac', 'nuc', 'class_protein_localization'])

In [13]:
yeast = yeast_initial.copy()

In [14]:
yeast.head()

,Sequ_name,mcg,gvh,alm,mit,erl,pox,vac,nuc,class_protein_localization
0,ADT1_YEAST,0.58,0.61,0.47,0.13,0.5,0.0,0.48,0.22,MIT
1,ADT2_YEAST,0.43,0.67,0.48,0.27,0.5,0.0,0.53,0.22,MIT
2,ADT3_YEAST,0.64,0.62,0.49,0.15,0.5,0.0,0.53,0.22,MIT
3,AAR2_YEAST,0.58,0.44,0.57,0.13,0.5,0.0,0.54,0.22,NUC
4,AATM_YEAST,0.42,0.44,0.48,0.54,0.5,0.0,0.48,0.22,MIT